@import 'config';

@mixin FlexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    margin: 0;
    padding: 0;
}

nav{
    padding: 3.1em;

    



    .links{
    display: flex;
    gap: 5em;
    font-size: 1.3em;
    


    #lks{
        text-decoration: none;
        color: $dark_color;
        font-family: "EB Garamond", serif;
        font-weight: 500;
    }
    }  
} 


.head{
    background-image: url('/imgs/Character.jpg') ;
    background-size: cover;
    background-position: center right;
    width: 100%;
    height: 35em;
    overflow: hidden;
    padding: 6em;
    text-align: center;
    padding-right: 55em;
    
    

    h1{
        font-size: 3.7em;
        font-family: "EB Garamond", serif;
    }
    p{
        font-size: 1.9em;
        font-family: "EB Garamond", serif;
    }
    .img-text{
        color: $light_color
    }
    .btn-pad{
        padding-top: 2.9em;
        
    #btn-me{
        background-color: transparent;
        color: $light_color;
        border-color: $light_color;
        padding: 0.5em;
        width: 9em;
        
    }
    }

}
.about-me{
    padding: 6em;


    h1{
        float: left;
        font-size: 4.5em;
        font-family: "EB Garamond", serif;
        color: $dark_color;
        text-shadow: 7px 7px 5px $lightgrey_color;
    }
    p{
        width: em;
        padding-left: 25em;
        color: $greyer_color;
        
    }
    .btn-download{
        text-align: center;
        padding-right: 17em;
        padding-top: 1.5em;

        #btn-down{
            background-color: $grey_color;
            color: $light_color;
            padding: 0.7em;
        }
    }
}
.hero{
    background-color: $grey_color;
    padding: 7em;
    color: $light_color;

.skills{
    text-align: center;

    h1{
        text-align: center;
        font-family: "EB Garamond", serif;
        font-size: 4em;
        text-shadow: 7px 7px 5px $dark_color;
    }
    p{
        width: 74em;
        padding-left: 0em;
        padding-top: 2em;
    }
    }
    .container-two{
        padding: 3.5em;
        @include FlexCenter;



        .focus-section h2 {
            font-size: 1.3em;
            letter-spacing: 0.1rem;
            text-align: center;
            padding-right: 15em;
            padding-left: 1.8em;
        }
        .focus-section hr {
            border: none;
            border-bottom: 0.2rem solid $light_color;
            width: 13em;
          }
          
          .focus-section ul {
            list-style: none;
            padding: 0;
          }
          
          .focus-section li {
            margin: 0.9rem 0;
            font-size: 1.2rem;
            padding-left: 1em;
          }
    }


    .bars{
        .progress-wrapper {
            padding: 20px;
            width: 500px;
            display: flex;
            flex-direction: column;
            gap: 15px;
            box-sizing: border-box;
          }
          
          .progress-container {
            display: flex;
            align-items: center;
            width: 100%;
          }
          
          .label {
            background-color: #8c8881;
            color: white;
            padding: 10px 10px;
            text-align: center;
            white-space: nowrap;
            min-width: 100px;
          }
          
          .progress-bar {
            flex-grow: 1;
            background-color: $light_color;
            height: 44px;
            position: relative;
          }
          
          .progress-fill {
            background-color: $whitegrey_color;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
          }
          .html-fill     { width: 95%; }
          .css-fill      { width: 95%; }
          .js-fill       { width: 85%; }
          .react-fill    { width: 85%; }
          .ps-fill       { width: 95%; }
          .xd-fill       { width: 85%; }
          .node-fill     { width: 70%; }
          .wp-fill       { width: 50%; }
          
}

}
.portfolio{
    padding: 5em;

    h1{
        font-family: "EB Garamond", serif;
        font-size: 4.3em;
        color: $dark_color;
        text-shadow: 7px 7px 5px $lightgrey_color;
        padding-bottom: 2em;
    }


    .services {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
      
        .service-card {
            flex: 0 1 calc(30.0% - 30px);
            background-color: #99938b;
            color: white;
            height: 11em;
            text-align: center;
            padding: 70px 30px;
            border-radius: 6px;
            box-shadow: 0 8px 16px rgba(0,0,0,0.1);
            font-size: 18px;
            font-weight: 500;
            position: relative;
            transition: transform 0.3s ease;
        }
        
        .service-card:hover {
            transform: translateY(-5px);
        }
        
        .service-card::after {
            content: '';
            display: block;
            width: 7em;
            height: 2px;
            background: white;
            margin: 12px auto 0;
        }
        
        .service-card:nth-child(n+4)::after {
            display: none;
        }
        
        .service-card.dark {
            background-color: #3f3d3c;
        }
    }
}
    